# Ignora tudo
*

# Mas permite estes arquivos
!.gitignore

!slides/aula-2/
!slides/aula-2/README.md
!slides/aula-2/estoque_intro.py
!slides/aula-2/ProgramIntro.cs
!slides/aula-2/dia-02.tex
!slides/aula-2/imagens/

!slides/aula-03/
!slides/aula-03/dia-03.tex
!slides/aula-03/csv_intro.py
!slides/aula-03/ProgramCsvIntro.cs
!slides/aula-03/imagens/

!slides/aula-04/
!slides/aula-04/dia-04.tex
!slides/aula-04/ecommerce_intro.py
!slides/aula-04/ProgramEcommerceIntro.cs
!slides/aula-04/imagens/

!slides/aula-05/
!slides/aula-05/dia-05.tex
!slides/aula-05/api_intro.py
!slides/aula-05/ProgramApiIntro.cs
!slides/aula-05/imagens/

!slides/aula-06/
!slides/aula-06/dia-06.tex
!slides/aula-06/etl_intro.py
!slides/aula-06/imagens/

!slides/aula-07/
!slides/aula-07/dia-07.tex
!slides/aula-07/ml_intro.py
!slides/aula-07/imagens/
